<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestPoints - Jelajahi Bagian dari Dunia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">BestPoints</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <ul class="navbar-nav">
              <% if(!currentUser) {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/logout"
                  onclick="
                  event.preventDefault();
                  document.getElementById('logout-form').submit();"
                  >Logout</a
                >
                <form action="/logout" method="POST" style="display: none" id="logout-form"></form>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="container">
        <h1>BestPoints</h1>
        <h4 class="subtitle">Discover the Best Points for Your Perfect Vacation</h4>

        <div class="mt-4 btn-group-center">
          <a href="/places" class="btn btn-outline-light">Jelajahi Tempat</a>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </body>
</html>
